.card{
    padding-top: 0px;
    width: 40% !important;
}

.book{
    padding: 0 !important;
}

i{
    color: blue;
}
.warning{
    width: 30%;
}
html{
    min-height: 100%;
}

body{
    background-color: url('../emphome.jpg');
}