*{
    /* padding: 20px; */
    /* color: white; */
    /* background-color: #980F5A; */
    /* background-color: #FFEEAD; */
  
    
  }

  .heading{
   /* width: 50%; */
  text-align: center;
   color: black;
   /* text-decoration: blanchedalmond; */
  }
  .key{
    /* background-color: #548CFF; */
    /* border-radius: 10px; */
    background-color: #FFEEAD;
    font-weight: bold;
  }
  .value{
    /* background-color:#21609b ; */
    /* border-radius: 10px; */
    background-color: #CA965C;
    font-weight: bold;
  
  }
  .container{
    padding: 0;
  }