<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</html><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="employee.css">   
<title>Document</title>
</head>
<body>
    {% include 'nav.html'%}


<div class="container">
<hr>
<div class="card bg-light" style="
padding-top: 100px;" >
<article class="card-body mx-auto" style="max-width: 400px;">
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
    {{message}}
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
	<h4 class="card-title mt-3 text-center">EMPLOYEE DETAIL</h4>


	<form action="{{ url_for('edit',employee_num=data[0][1]) }}" method="post">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" class="form-control" placeholder="USER ID" type="text" value="{{data[0][0]}}">
    </div> <!-- form-group// -->
   

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="Employee_ID" class="form-control" placeholder="employee_id" type="text" value="{{data[0][1]}}" >
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="joining_date" class="form-control" placeholder="joining date" type="date" value="{{data[0][2]}}"  >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="Designation" class="form-control" placeholder="Designation" type="text" value="{{data[0][3]}}" >
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="salaray" class="form-control" placeholder="salaray"type="text" value="{{data[0][4]}}" >
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="Rating" class="form-control" placeholder="Rating" type="text" value="{{data[0][5]}}" >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="bank_account_number" class="form-control" placeholder="bank account number" type="text" value="{{data[0][6]}}" >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="contact_number" class="form-control" placeholder="contact number" type="text" value="{{data[0][7]}}" >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <textarea name="Address" class="form-control" placeholder="Address" rows=8 type="text" >{{data[0][8]}}</textarea>
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="Leaves_left" class="form-control" placeholder="Leaves left" type="text" value="{{data[0][9]}}" >
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="worked_days" class="form-control" placeholder="worked days" type="text" value="{{data[0][10]}}" >
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" class="form-control" placeholder="password" type="text" value="{{data[0][11]}}" >
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Save changes  </button>
    </div> <!-- form-group// -->      
                                                                     
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->
<br><br>
</body>
